.reviewTextArea{
    width: 39vw;
    height: 20vh;
    padding: 0.4vw !important;
}

.reviewForm{
    display:flex;
    justify-content: space-around;
    flex-flow: column;
}

.usernameInput{
    width:20vw;
}

.radioRow{
    flex-flow: row;
 
}
