.App {
  text-align: center;
}

.container{
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 20vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.showButton{
  text-align: left;
  width: 20vw;
  padding-top: 1vh;
  padding-bottom:1vh;
  background-color: black;  
  border-style: none;
  border-radius: 0px 0px 10px 0px;
  color:white;
  font-size: 20pt;
  font-weight: bold;
      font-family: 'Playfair Display', serif;
}

body{
  background-color: whitesmoke;
}